In [5]:
# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect

# Pandas
import pandas as pd
from datetime import datetime
from pandas_geojson import to_geojson
from pandas_geojson import write_geojson

import os
import numpy as np

import psycopg2

from config import db_password

In [2]:
# Connect to the RDS postgres db and add the dataframes to postgres
db_string = f"postgresql://postgres:{db_password}@fires.crlyg1rjxxj2.us-west-2.rds.amazonaws.com:5432/postgres"
engine = create_engine(db_string)

In [3]:
# Make a connection to the SQL database
conn = engine.connect()

In [4]:
# query the postgres db to create a dataframe that will be used for geojson
fire_geojson = pd.read_sql("SELECT f.fire_size, f.fire_size_class, f.fire_year, f.discovery_month, f.duration, f.county_code, fc.stat_cause_code, fc.stat_cause_descr, fm.fire_name, c.county_name, f.latitude, f.longitude \
FROM fires f \
JOIN fire_causes fc \
ON f.stat_cause_code = fc.stat_cause_code \
JOIN fire_names fm \
ON f.fod_id = fm.fod_id \
LEFT JOIN counties c \
ON f.county_code = c.county_code \
WHERE f.fire_size_class IN  ('C', 'D', 'E', 'F','G')", conn)

In [6]:
fire_geojson.count()

fire_size           3716
fire_size_class     3716
fire_year           3716
discovery_month     3716
duration            3716
county_code         2420
stat_cause_code     3716
stat_cause_descr    3716
fire_name           3632
county_name         2420
latitude            3716
longitude           3716
dtype: int64

In [7]:
# convert null county_codes to 0
fire_geojson["county_code"].fillna(0, inplace=True)
fire_geojson.count()

fire_size           3716
fire_size_class     3716
fire_year           3716
discovery_month     3716
duration            3716
county_code         3716
stat_cause_code     3716
stat_cause_descr    3716
fire_name           3632
county_name         2420
latitude            3716
longitude           3716
dtype: int64

In [8]:
#convert null county and fire names to "NA"
fire_geojson[["county_name", "fire_name"]] = fire_geojson[["county_name", "fire_name"]].fillna(value="NA")
fire_geojson.count()

fire_size           3716
fire_size_class     3716
fire_year           3716
discovery_month     3716
duration            3716
county_code         3716
stat_cause_code     3716
stat_cause_descr    3716
fire_name           3716
county_name         3716
latitude            3716
longitude           3716
dtype: int64

In [9]:
fire_geojson.tail()

,fire_size,fire_size_class,fire_year,discovery_month,duration,county_code,stat_cause_code,stat_cause_descr,fire_name,county_name,latitude,longitude
3711,1512.0,F,2011,8,27,065,13.0,Missing/Undefined,0431,Wasco,45.571900,-120.955300
3712,42.0,C,2015,10,0,037,13.0,Missing/Undefined,HAYES TWO,Lake,43.295870,-120.949130
3713,633.0,E,2009,9,3,029,13.0,Missing/Undefined,DEER RIDGE,Jackson,42.346944,-122.811944
3714,273.0,D,2009,7,43,031,13.0,Missing/Undefined,334,Jefferson,44.766400,-121.001900
3715,10.0,C,1997,4,1,0,13.0,Missing/Undefined,CRATER,NA,43.066500,-118.751000

In [9]:
#Convert the dataFrame to geojson so that it can be mapped
geo_json = to_geojson(df=fire_geojson, lat='latitude', lon='longitude',
                 properties=['fire_size','fire_size_class','fire_year','discovery_month', 'duration','county_code', \
                             'stat_cause_code', 'stat_cause_descr', 'fire_name', 'county_name' ])

In [10]:
#write file to disc
write_geojson(geo_json, filename='Resources/largeFires.geojson', indent=4)

In [14]:

#create causes dataframe
causes_df = pd.read_sql("select * from fire_causes", conn)

In [15]:
causes_df

    stat_cause_code   stat_cause_descr
0               1.0          Lightning
1               2.0      Equipment Use
2               3.0            Smoking
3               4.0           Campfire
4               5.0     Debris Burning
5               6.0           Railroad
6               7.0              Arson
7               8.0           Children
8               9.0      Miscellaneous
9              10.0          Fireworks
10             11.0          Powerline
11             12.0          Structure
12             13.0  Missing/Undefined

In [17]:
#write causes dataframe to a csv file in the Resource folder.  This will be used for mapping display.
os.makedirs('Resources', exist_ok=True)
causes_df.to_csv('Resources/fire_causes.csv',index=False)